.container {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
}
.flex {
    display: flex;
}
@media (max-width: 991px) {
    .flex {
        display: block;
    }
}

