.promo {
    position: relative;
    overflow: hidden;
    max-height: calc(100vh - 90px);
    min-height: 600px;
}
.promo-media {
    position: relative;
    z-index: 1;
}
.promo-media video {
    width: 100%;
    height: auto;
    opacity: 0.7;
}
.promo-body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: #4E4BD3;
}
.promo-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.promo-text-logo {
    width: 45%;
    max-width: 620px;
    height: auto;
    margin: 0 0 40px;
}
.promo-text-logo img {
    width: 100%;
    height: auto;
}
.promo-text-logo svg * {
    fill: #4E4BD3;
}
.promo-text-welcome {
    transform: translateX(-80%);
    font-size: 37px;
}
.promo-text-desc {
    font-size: 33px;
}
.promo-action {

}