.section {
    position: relative;
    min-height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section .container {
    display: flex;
    align-items: center;
}
.section.section-layout .container {
    flex-direction: column;
}
.section-title {
    color: #4E4BD3;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 10px;
}
.section-title-xxl {
    font-size: 110px;
    line-height: 114px;
    flex: 0 0 40%;
    margin: 0 10% 0 0;
}
.section-title-xl {
    font-size: 60px;
    line-height: 70px;
    flex: 0 0 40%;
    margin: 0 10% 0 0;
}
.section-title-l {
    font-size: 44px;
    line-height: 50px;
    margin: 0 0 40px;
}
.section-title .br {
    display: block;
}
.section-decoration-bg {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
}
.section-decoration-bg svg {
    display: block;
}
.section-text {
    font-size: 25px;
    line-height: 35px;
    margin: 200px 0 0;
}
.section-img {
    width: 100%;
    height: auto;
}
.section-decoration-overlay {
    position: absolute;
    z-index: 100;
}
.section-decoration-overlay svg {
    width: 100%;
    height: auto;
    display: block;
}
.section-decoration-overlay-top {
    width: 30%;
    top: -40px;
    left: 0;
}
.section-decoration-overlay-top .decoration-triangle {
    transform: rotate(180deg);
}
.section-decoration-overlay-bottom {
    width: 60%;
    bottom: 0;
    right: 0;
}
.section-head {
    padding: 140px 50% 0 0;
    margin: 0 0 90px;
    position: relative;
}
.section-desc {
    font-size: 25px;
    line-height: 35px;
}
.section-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section-grid .card {
    flex: 0 0 32%;
    background: #4E4BD3;
    padding: 60px 45px 45px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    min-height: 537px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 150px;
}
.section-grid .card.card-pinned {
    margin-top: 270px;
    background: #DBFE02;
    color: #4E4BD3;
    font-weight: 600;
}
.section-grid .card .card-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    color: #DBFE02;
}
.section-grid .card .card-text-important {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
}
.section-decoration-aside {
    width: 32%;
    position: absolute;
    right: 0;
    top: 140px;
}
.section-decoration-aside .decoration-pin {
    display: block;
    margin: 0 auto;
}
.attention {
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
}
.attention-primary {
    background: #4E4BD3;
    color: #DBFE02;
}
.attention-secondary {
    background: #DBFE02;
    color: #4E4BD3;
}
.attention-text {
    font-weight: 600;
}
.attention-link {
    text-decoration: underline;
}
.attention-link:hover {
    text-decoration: none;
}
.attention-text .attention-thin {
    font-weight: 300;
}
.section-grid .column {
    flex: 0 0 30%;
    padding: 100px 0 60px;
    font-size: 20px;
    line-height: 30px;
    color: #4E4BD3;
    position: relative;
}
.section-grid .column-title {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 30px;
}
.section-grid .column-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 80px;
}
.section-action {
    display: flex;
    justify-content: center;
    margin: 0 0 150px;
}
.section-picture {
    padding: 140px 0 60px;
}
.section-picture .container {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}
.section-picture .section-picture-holder {
    width: 50%;
    flex: 0 0 50%;
    padding: 80px 0 0;
}
.section-picture .section-picture-src {
    width: 100%;
    height: auto;
    display: block;
}